{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3 pt-3 pb-3" style="margin: 0 auto;background-color: gainsboro; border: 2px solid gray">
                <h1>{{ title }}</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-warning w-25" type="submit" value="send">

                </form>
            </div>
        </div>
    </div>


{% endblock %}