{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 pt-3" style="margin: 0 auto;padding: 0; background-color: mediumpurple">
                <h1 style="margin-left: 5%">Password reset sent</h1>
                <div style="background-color: gainsboro" class="pb-3 px-2 pt-3">
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mt-3" style="margin: 0 auto">
                <a class="btn btn-warning fa fa-arrow-left" href="{% url 'home' %}"> Back to Home Page</a>
            </div>
        </div>
    </div>
{% endblock %}