{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">





    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <title>Rent & Rest</title>

    <style>
        .btn-register{
            width: 80px;
            text-align: center;
        }
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);

            background: gainsboro;
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(255,0,0,0.4);
        }
    </style>

</head>



<body>

<!-- Navbar -->


<nav class="navbar navbar-expand-lg  lower-border-black bg-rb-purple">
  <div class="container-fluid">
    <a class="navbar-brand fa fa-car mx-3 mt-1 " href="" style="font-size: 35px; color: #ccc"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item margin-l-16">
            {% if request.user.visitor.role == 'admin' %}
                <a class="nav-link" style="color: lightgray; font-size: larger" href="{% url 'manage' %}">Home <span class="sr-only">(current)</span></a>
            {% else %}
                <a class="nav-link" style="color: lightgray; font-size: larger" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            {% endif %}
        </li>
        <li class="nav-item margin-l-16">
            <a class="nav-link" style="color: lightgray; font-size: larger" href="{% url 'carlist' %}">Cars</a>
        </li>
        <li class="nav-item margin-l-16">
            <a class="nav-link" style="color: lightgray; font-size: larger" href="{% url 'aboutUs' %}">About Us</a>
        </li>
        <li class="nav-item margin-l-16">
            <a class="nav-link" style="color: lightgray; font-size: larger" href="{% url 'contact' %}">Contact</a>
        </li>

      </ul>

    {% if request.user.is_authenticated %}
        {% if request.user.visitor.role == 'manager' %}
            <a class="btn fa fa-user-circle btn-user" href="{% url 'managerProfile' %}">Manager {{ user.username }}</a>

        {% elif request.user.visitor.role == 'admin' %}
            <a class="btn fa fa-user-circle btn-user" href="#" >Admin {{ user.username }}</a>

        {% else %}
            <a class="btn fa fa-user-circle btn-user" href="{% url 'profile' %}"> {{ user.username }}</a>

        {% endif %}
            <a type="submit" class="btn btn-register btn-login" href="{% url 'logout' %}">Logout</a>

    {% else %}

        <a type="submit" class="btn btn-login" href="{% url 'login' %}">Login</a>
        <a type="submit" class="btn btn-register btn-login" href="{% url 'register' %}">Register</a>

    {% endif %}




      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" style="background-color: lightgray;color: black" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>







<!-- content -->
<main class="flex-shrink-0 main" style="min-height: 700px; background-image: url({% static 'images/wp.png'%})">
    {% block content %}
	{% endblock %}
</main>






<!-- footer-->
<footer class=" upper-border-black bg-rb-purple">

    <div class="row" style="padding: 0;width: 100%">
        <div class="col-sm-6 w-45">
            <p class="copyright">Copyright © 2020 </p>
        </div>
        <div class="col-sm-6 w-55">
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>

</footer>





</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2 .5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>