{% extends 'main.html' %}



{% block content %}

    <div class="container pt-3">
        <div class="header-bar"><h3>{{ car.brand }} {{ car.model }}</h3></div>

        <table class="table mt-3" style="background-color: #fff">
            <thead style="background-color: #cccccc">
                <tr>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Pick-up Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in  car.reservations_set.all %}
                    <tr>
                        <td>{{ reservation.reservationDate }}</td>
                        <td>{{ reservation.receiveDate }}</td>
                        <td>{{ reservation.deliveryDate }}</td>
                        <td><a href="{% url 'cancelBook' reservation.id %}" class="btn btn-danger">Cancel</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-warning fa fa-arrow-left mt-3" href="{% url 'managerProfile' %}"> Back</a>
    </div>

{% endblock %}